@use "../../../styles/mixins";

.widget-small__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  img {
    @include mixins.avatar();
  }

  .widget-small__user {
    display: flex;
    flex-direction: column;
    text-align: center;

    .widget-small__user-name {
      font-weight: 600;
    }

    .widget-small__user-title {
      font-weight: 300;
    }
  }

  .widget-small__button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;

    .widget-small__icon{
      font-size: 16px;
      margin-right: 5px;
    }
  }
}
